.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 3px;
    width: 300px;
    height: 300px;

}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
}

.invader {
    background-color: purple;
    background-image: url(death_star.png);
    border-radius: 10px;
}

.boom {
    background-color: red;
}

.laser {
    background-color: orange;
}